@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import "tailwindcss";

@theme {
  --breakpoint-sm: 480px;
  --color-light: #f9fafb;
  --color-dark: #111827;
  --color-accent: #11d020;
  --gradient1: #04619f;
  --gradient2: #0f52ba;
  --color-smokewhite: #f5f5f5;
  --font-Lobster: "Lobster";

  @keyframes wind {
    0%,
    100% {
      background: linear-gradient(90deg, #34e89e 16%, #0f3443 90%);
    }
    50% {
      background: linear-gradient(90deg, #34e89e 40%, #0f3443 60%);
    }
  }
}

#payment-form {
  border: #f6f9fc solid 1px;
  border-radius: var(--radius);
  padding: 20px;
  margin: 20px 0;
  box-shadow: 0 30px 50px -20px rgb(50 50 93 / 25%),
    0 30px 60px -30px rgb(0 0 0 / 30%);
}
.scrollbar-thin::-webkit-scrollbar {
  height: 6px;
}
.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent;
}
.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: var(--color-dark); 
  border-radius: 9999px;
}
.scrollbar-thin::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-accent); 
}

