@import url("https://fonts.googleapis.com/css2?family=Edu+SA+Hand:wght@400..700&display=swap");
@import "tailwindcss";
@plugin 'tailwind-scrollbar';

@theme {
  --breakpoint-xs: 600px;
  --breakpoint-sm: 765px;
  --breakpoint-md: 1100px;
  --breakpoint-lg: 1200px;
  --breakpoint-xl: 1500px;
  --color-light: #f5f5f5;
  --color-dark: black;
  --color-accent: #111827;
  --color-gradient1: #064772;
  --color-gradient2: #0f52ba;
  --color-success: #32CD32;
  --font-subject: "Edu SA Hand";

  @keyframes wind {
    0%,
    100% {
      background: linear-gradient(90deg, #34e89e 16%, #0f3443 90%);
    }
    50% {
      background: linear-gradient(90deg, #34e89e 40%, #0f3443 60%);
    }
  }
}

#payment-form {
  background: white;
  border-radius: 10px;
  padding: 20px;
  margin: 20px 0;
}

.scrollbar-thin::-webkit-scrollbar {
  height: 6px;
}
.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent;
}
.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: var(--color-dark);
  border-radius: 9999px;
}
.scrollbar-thin::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-accent);
}

.scroll-container {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

.main-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.main-scrollbar::-webkit-scrollbar-track {
  background: var(--color-accent);
  border-radius: 4px;
}

.main-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--color-dark);
  border-radius: 4px;
  border: 2px solid var(--color-dark);
}

.main-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #9ca3af;
}

.main-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--color-accent);
}

@keyframes pulse-dot {
  0%,
  100% {
    transform: scale(1) translateY(0);
    box-shadow: 0 0 6px rgba(59, 130, 246, 0.6);
    opacity: 0.7;
  }
  50% {
    transform: scale(1.4) translateY(-6px);
    box-shadow: 0 0 12px rgba(59, 130, 246, 1);
    opacity: 1;
  }
}

.animate-pulse-dot {
  animation-name: pulse-dot;
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  will-change: transform, box-shadow, opacity;
}

.slow-bounce {
  animation: bounce-small 2s infinite;
}

@keyframes bounce-small {
  0%,
  100% {
    transform: translateY(-10%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
