@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import "tailwindcss";

@theme {
  --breakpoint-sm: 480px;
  --color-light: #f9fafb;
  --color-dark: #111827;
  --color-accent: #11d020;
  --gradient1: #04619f;
  --gradient2: #0f52ba;
  --color-smokewhite: #f5f5f5;
  --font-Lobster: "Lobster";
}

#payment-form {
  border: #f6f9fc solid 1px;
  border-radius: var(--radius);
  padding: 20px;
  margin: 20px 0;
  box-shadow: 0 30px 50px -20px rgb(50 50 93 / 25%),
    0 30px 60px -30px rgb(0 0 0 / 30%);
}
